* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
}

.math-item {
  /* position: absolute;
  font-size: 100px;
  color: #2e2e2e;
  opacity: 0;
  animation: fly 8s infinite linear; */

  position: absolute;
  font-size: 100px;
  opacity: 0.8;
  animation: floatUp 6s infinite ease-in-out, rotateSymbol 10s linear infinite;
  transition: transform 0.5s ease;
  background: linear-gradient(135deg, #61adff, #604ce2, #18f218); /* Gradient for text */
  -webkit-background-clip: text;
  color: transparent; /* Makes the text color transparent to show the gradient */
}

.tool-item {
  /* position: absolute;
  width: 100px; /* Adjust the size of the tool items */
  /* height: auto;
  opacity: 0;
  animation: tool-fly 8s infinite linear; */ 
  position: absolute;
  width: 100px;
  height:auto;
  opacity: 0.8;
  animation: floatUp 6s infinite ease-in-out, rotateSymbol 10s linear infinite;
  transition: transform 0.5s ease;
  background: linear-gradient(135deg, #4baeff, #6a5acd, #58e658); /* Gradient for text */
  -webkit-background-clip: text;
  color: transparent; /* Makes the text color transparent to show the gradient */

}
@keyframes floatUp {
      0% {
        transform: translateY(0) scale(1);
        opacity: 0.8;
      }
      50%{
        opacity: 0.2;
      }
      100% {
        transform: translateY(-100vh) scale(1.5);
        opacity: 0.8;
      }
}

@keyframes rotateSymbol {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

@keyframes fly {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    transform: translateX(100vw) translateY(100vh) rotate(360deg);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(-100vw) translateY(-100vh) rotate(720deg);
    opacity: 0;
  }
}

@keyframes tool-fly {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg);
    opacity: 0;
  }
  25% {
    opacity: 1;
    transform: translateX(30vw) translateY(50vh) rotate(180deg);
  }
  50% {
    opacity: 1;
    transform: translateX(50vw) translateY(10vh) rotate(360deg);
  }
  75% {
    opacity: 1;
    transform: translateX(-30vw) translateY(90vh) rotate(540deg);
  }
  100% {
    transform: translateX(0) translateY(-50vh) rotate(720deg);
    opacity: 0;
  }
}

.gradient-background {
      height: 100%;
      background: linear-gradient(45deg, #ff6ec7, #f7c8c8, #ff9a8b);
      background-size: 400% 400%;
      animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }